[[ ! -f ~/.Aliases/.shortcuts_aliases ]] || source ~/.Aliases/.shortcuts_aliases
[[ ! -f ~/.Aliases/.vagrant_aliases ]] || source ~/.Aliases/.vagrant_aliases
[[ ! -f ~/.Aliases/.git_aliases ]] || source ~/.Aliases/.git_aliases
[[ ! -f ~/.Aliases/.docker_aliases ]] || source ~/.Aliases/.docker_aliases
[[ ! -f ~/.Aliases/.kubernetes_rancher_aliases ]] || source ~/.Aliases/.kubernetes_rancher_aliases
